<footer>
    <div class="footer-box">
        <div>
            <div class="logo" style="margin-left: 0;">resume<span id="highlight-blue">Rush</span></div>
            <p>Helping job seekers since 2024</p>
        </div>
        <div>
            <span class="footer-text">Examples</span>
        </div>
        <div>
            <span class="footer-text">Resources</span>
        </div>
        <div>
            <span class="footer-text">Company</span>
            <ul>
                <li style="margin-top: 15px;">About Us</li>
                <li style="margin-top: 15px;">Careers</li>
                <li style="margin-top: 15px;">Contact</li>
                <li style="margin-top: 15px;">Review</li>
            </ul>
        </div>
        <hr style="grid-column-start: span 4;">
        <div style="display: flex; align-items: center; gap: 10px; grid-column-start: span 2;">
            <p>Terms and Privacy</p>
            <p>©️2024</p>
        </div>
        <div style="display: flex; justify-content: space-evenly; grid-column-start: span 2;">
            <img src="/images/ig.svg" alt="instagram">
            <img src="/images/yt.svg" alt="youtube">
            <img src="/images/linked.svg" alt="linkedin">
            <img src="/images/discord.svg" alt="discord">
        </div>
</footer>