<!-- Custom CSS -->
<link rel="stylesheet" href="/styles/home.css">
<!-- HTML Tags -->
<header class="nav-bar-main">
    <nav class="nav-bar">
        <span class="logo">resume<span>Rush</span></span>
        <div class="btn-area">
            <div>
                <button>Examples</button>
                <img src="/images/down-fill.svg" alt="down-arrow">
            </div>
            <div>
                <button>Resources</button>
                <img src="/images/down-fill.svg" alt="down-arrow">
            </div>
            <!--Main anchor tag -->
            <a class= "res-link" href="form" style="display: flex; align-items: center; gap: 10px;">Create Free Resume <img src="/images/arrow-right.svg" alt="rigth-arrow" style="width: 30px; aspect-ratio: 1;"></a>
        </div>  
        <img src="/images/hamburger.svg" alt="dropdown" id="dropdown">        
    </nav>
</header>

